@import url("https://use.typekit.net/onc3gku.css");


html,
body,
header,
main,
article,
section,
div,
pre
span {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 8px;
  z-index: -1;
}

body {
  box-sizing: border-box;
  /* width: 100vw; */
  min-height: 100vh;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #0c0c0c;
    /* background-image: linear-gradient(150deg, rgba(255,0,255, 0.05), rgba(0, 255,255, 0.05)); */
    color: white
  }
  a {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html, body {
    background: #eeeeee;
    /* background-image: linear-gradient(150deg, rgba(162, 0, 255, 0.05), rgba(3, 218, 207, 0.05)); */
    color: black !important;
  }
  a {
    color: black;
  }
}



h1 {
  font-size: 7rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: dharma-gothic-e, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* letter-spacing: 0.5rem; */
}
h2 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: dharma-gothic-e, sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
}
h3 {
  font-family: dharma-gothic-e, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
h4 {
  font-family: dharma-gothic-e, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}
h5 {
  font-family: dharma-gothic-e, sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}
h6 {
  font-family: dharma-gothic-e, sans-serif;
  font-size: 2.3rem;
  font-weight: 100;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}
li {
  font-size: 2rem;
}
a {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

label {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  font-family: dharma-gothic-e;
}
input[type=date] {
  box-sizing: border-box;
  display: block;
  background: none;
  color: black;
  border: solid 1px rgba(100,100,100, 0.5);
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
input[tpye=date].last {
  margin: 0;
}
@media screen and (prefers-color-scheme: dark) {
  input[type=date] {
    filter: invert(1)
  }
}


path {
  transition: fill 200ms;
}

pre code {
  font-size: 2rem;
}
pre.dump {
  font-size: 2rem;
  padding: 2rem;
  margin: 0;
  height: auto;
  background: rgba(0,100,0, 0.3);
  overflow: auto;
}


hr {
  margin: 4rem 0;
  border-color: rgba(150,150,150, 0.3)
}

/* @media (prefers-color-scheme: dark) {
  hr {
    border-color: 
  }
}

@media (prefers-color-scheme: light) {
  hr {
    border-color: 
  }
} */


.input-range {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.input-range__slider {
  appearance: none;
  background: orangered;
  border: 2px solid orangered;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 2.5rem;
  margin-left: -1.8rem;
  margin-top: -1.8rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 2.5rem;
}

/* @media screen and (prefers-color-scheme: dark) {
  .input-range__slider {
    background: orangered;
    border: solid 2px darkred;
  }
} */

.input-range__slider:active {
  transform: scale(1.5);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: red;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 2rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -4rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}
  .input-range__label--max .input-range__label-container {
    left: 50%;
  }

.input-range__track {
  background: #888;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 1rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  /* margin-top: -2rem; */
  /* position: absolute; */
  right: 0;
  /* top: 50%; */
}

.input-range__track--active {
  background: orangered;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

